body {
    text-align: center;
    background-image: url("./../../img/fundoDaPagina.jpg");
    color: white;
}
.butoes {
    display: flex;
    justify-content: space-around;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 100px;
    margin-bottom: 200px;
}
button {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: rgba(255, 255, 255, 0.11);
    align-items: center;
}