body {
    text-align: center;
    background-image: url("https://scontent.fsdu16-1.fna.fbcdn.net/v/t1.6435-9/118658100_4277683185579594_8334530443988927613_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=973b4a&_nc_ohc=oJ3aQU5S3ygAX97fKFI&_nc_ht=scontent.fsdu16-1.fna&oh=00_AT_AVQ5WxCEcNsCEnV8jHltZNoquj-FrE3eY9jfTdZPPjg&oe=62056362");
    color: white;
}
.butoes {
    display: flex;
    justify-content: space-around;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 100px;
    margin-bottom: 200px;
}
button {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: rgba(255, 255, 255, 0.11);
    align-items: center;
}